<HTML>
  <HEAD>
  <TITLE>Welcome to Ottawa Garage Sales Online</TITLE>
  </HEAD>
  <BODY>
   <TABLE BORDER = "2" CELLSPACING = "no" CELLPADDING = "no" WIDTH = "77%" ALIGN = "CENTER" BORDERCOLOR = "DARKGREEN" BGCOLOR = "LIGHTGREEN" FRAME = "Hsides" RULES = "ROWS">
   <TR>
    <TD HEIGHT = "150" COLSPAN = "8"><FONT COLOR = "BLUE" SIZE = "10">
<IMG SRC = "/images/garage_logo.gif" WIDTH = "577" HEIGHT = "100"></TD>
    <TD><CENTER><!-- Begin WeatherLink Flash Fragment -->
<object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=10,0,0,0" width="190" height="125">
	<param name="movie" value="http://dd.weatheroffice.gc.ca/lib/flash/wxlink_e.swf" />
	<param name="FlashVars" value="cityCode=on-118&amp;siteCode=s0000430&amp;provCode=ON&amp;language=e" />
	<param name="quality" value="high" />
	<embed src="http://dd.weatheroffice.gc.ca/lib/flash/wxlink_e.swf" FlashVars="cityCode=on-118&amp;siteCode=s0000430&amp;provCode=ON&amp;language=e" quality="high" pluginspage="http://www.adobe.com/go/getflashplayer" type="application/x-shockwave-flash" width="190" height="125" /> 
</object>
<!-- End WeatherLink Flash Fragment --></CENTER></TD>
   </TR>
</TABLE>
<TABLE BORDER = "0" ALIGN = "CENTER" WIDTH = "77%" cellpadding = "0" cellspacing = "no">
   <TR><TD BGCOLOR = "SILVER" HEIGHT = "7" COLSPAN = "12">

</TD></TR>
	 <TR COLSPAN = "10" ALIGN = "CENTER">
	  <TD BGCOLOR = "LIGHTBLUE"><FONT COLOR = "WHITE"><B><a href="/welcome_sales/home">Home</A></B></FONT></TD>
<TD BGCOLOR = "LIGHTBLUE"><FONT COLOR = "WHITE"><B><a href="/sales_info7s">List Sales</A></B></FONT></TD>
	  
	  
	  	  <TD BGCOLOR = "LIGHTBLUE"><FONT COLOR = "WHITE"><B><A HREF = "/extra/advertise">Advertise</A></B></FONT></TD>
			  <TD BGCOLOR = "LIGHTBLUE"><FONT COLOR = "WHITE"><B><A HREF = "/extra/login_extra">Login</A></B></FONT></TD>
				  <TD BGCOLOR = "LIGHTBLUE"><FONT COLOR = "WHITE"><B><A HREF = "/extra/aboutus">About Us</A></B></FONT></TD>
				  	  <TD BGCOLOR = "LIGHTBLUE"><FONT COLOR = "WHITE"><B><A HREF = "/supports/new">Free Sales</A></B></FONT></TD>
					  	  <TD BGCOLOR = "LIGHTBLUE"><FONT COLOR = "WHITE"><B><A HREF = "/welcome_sales/contact">Contact</A></B></FONT></TD></TR> 

	 <TR><TD HEIGHT = "7" BGCOLOR = "SILVER" COLSPAN = "12"><FONT COLOR = "SILVER"></FONT></TD></TR>
   </TABLE>
   <TABLE ALIGN = "CENTER" WIDTH = "77%" BORDER = "0" CELLPADDING = "no" CELLSPACING = "no" BGCOLOR = "WHITE">
   <TR><TD COLSPAN = "10"><h1><CENTER>Listing Garage Sales for Ottawa</h1></CENTER></TD></TR>
<TR><td WIDTH = "20%">
</TD>
</TR>
</TABLE>
<TABLE BORDER = "0" ALIGN = "CENTER" WIDTH = "77%" CELLPADDING = "no" BGCOLOR = "WHITE" CELLSPACING = "no" style="border: 1px solid #000;">
<TR><TD COLSPAN = "2"><FONT COLOR = "GREEN" SIZE = "4"><B><CENTER><%= will_paginate @sales_info7s %></CENTER></B></FONT>
</TD>
<TD WIDTH = "22%" ROWSPAN = "5" VALIGN = "top">
<BR><BR><BR>
<TABLE BORDER = "0" BGCOLOR = "LIGHTGREEN" CELLPADDING = "10" BORDERCOLOR = "DARKGREEN" style="border: 2px solid #000;"><TR><TD>
<FONT COLOR = "BLUE" SIZE = "2">Your Advertisment here<BR>
Contact us <A HREF = "/supports/new">now</A> to Advertise in this spot! Spots are going fast, so get yours now!</FONT> </TD></TR></TABLE><BR><BR><BR>
<TABLE BORDER = "0" BGCOLOR = "LIGHTGREEN" CELLPADDING = "10" BORDERCOLOR = "DARKGREEN" style="border: 2px solid #000;"><TR><TD>
<FONT COLOR = "BLUE" SIZE = "2">Your Advertisment here<BR>
Contact us <A HREF = "/supports/new">now</A> to Advertise in this spot! Spots are going fast, so get yours now!</FONT> </TD></TR></TABLE>
</TD></TR>
<TR>
<TD COLSPAN = "3"><HR SIZE = "3" COLOR = "GREEN"></TD>
<TD WIDTH = "1" ROWSPAN = "1">
<% for sales_info7 in @sales_info7s %>
<tr class="<%= cycle("even","odd") %>">
<td ALIGN = "CENTER" WIDTH = "3"><IMG SRC = "/images/smooth-star.GIF" ALIGN = "CENTER" WIDTH = "41" HEIGHT = "41">
<BR>
</TD>
<TD HEIGHT = "5" WIDTH = "33">
<B>Title :</B>&nbsp;&nbsp;&nbsp;&nbsp;<B><FONT COLOR = "WHITE"><%= link_to sales_info7.sales_title, sales_info7 %></FONT></B><BR>
<B>Description</B>&nbsp;&nbsp;&nbsp;&nbsp;<%=h truncate(sales_info7.sales_desc.gsub(/<.*?>/,''), :length => 53) %>
<BR>
<B>Address of Sale</B>
&nbsp;&nbsp;&nbsp;&nbsp;
<%=h sales_info7.sales_addr %>
<BR>
<B>Date of Sale</B>
&nbsp;&nbsp;&nbsp;&nbsp;
<%=h sales_info7.sales_ofdate %>
<% end %>
</td>
</TR>
</TABLE>
<TABLE BORDER = "2">
<TR>
<TD WIDTH = "15%">

</TD>
</TR>
<TR>
<TD></TD><TD><HR SIZE = "3" COLOR = "GREEN"></TD></TR>
<TR><TD COLSPAN = "2" ALIGN = "CENTER">
<FONT COLOR = "GREEN" SIZE = "4"><B><CENTER><%= will_paginate @sales_info7s %></CENTER></B></FONT>
</TD>
</tr>



</table>
</div>
</TD></TR>
</TABLE>
</BODY>
</HTML>